
Debug/settings.xml

Debug/TicketSystem.app/Contents/Resources/empty.lproj

Debug/TicketSystem.app/Contents/Info.plist

Debug/TicketSystem.app/Contents/MacOS/settings.xml

Debug/TicketSystem.app/Contents/MacOS/TicketSystem

Debug/TicketSystem.app/Contents/PkgInfo

TicketSystem.pro.user
